.body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.filter {
  display: flex;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  gap: 1rem;
  border-radius: 0.5rem;
}

.resto-link {
  text-decoration: none;
  color: black;
  margin: 0 auto;
}

.resto-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 0 auto;
}

@media screen and (max-width: 520px) {
  .resto-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .input-width {
    width: 6em;
    padding-left: 0px;
    padding-right: 0px;
  }

  .input-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin: 0.5rem !important;
  }

  .input-main {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media screen and (min-width: 521px) and (max-width: 820px) {
  .resto-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 821px) and (max-width: 1050px) {
  .resto-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
